.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
  vertical-align: text-bottom;
}
.icon-quill {
  width: 16px;
  height: 16px;
  background-position: 0 0;
}
.icon-feed {
  width: 16px;
  height: 16px;
  background-position: -48px 0;
}
.icon-book {
  width: 16px;
  height: 16px;
  background-position: -96px 0;
}
.icon-file-text2 {
  width: 16px;
  height: 16px;
  background-position: -144px 0;
}
.icon-file-picture {
  width: 16px;
  height: 16px;
  background-position: -192px 0;
}
.icon-compass2 {
  width: 16px;
  height: 16px;
  background-position: -240px 0;
}
.icon-printer {
  width: 16px;
  height: 16px;
  background-position: -288px 0;
}
.icon-keyboard {
  width: 18px;
  height: 16px;
  background-position: -336px 0;
}
.icon-display {
  width: 16px;
  height: 16px;
  background-position: -384px 0;
}
.icon-circle-right {
  width: 16px;
  height: 16px;
  background-position: -432px 0;
}
.icon-circle-down {
  width: 16px;
  height: 16px;
  background-position: -480px 0;
}

