
.icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(sprite.svg);
    vertical-align: text-bottom;
}

.icon-bar-chart-2 {
    width: 24px;
    height: 24px;
    background-position: 0px 0px;
}

.icon-box {
    width: 24px;
    height: 24px;
    background-position: -24px 0px;
}

.icon-chevron-right {
    width: 24px;
    height: 24px;
    background-position: -48px 0px;
}

.icon-chevron-up {
    width: 24px;
    height: 24px;
    background-position: -72px 0px;
}

.icon-chevron-left {
    width: 24px;
    height: 24px;
    background-position: -96px 0px;
}

.icon-chevron-down {
    width: 24px;
    height: 24px;
    background-position: -120px 0px;
}

.icon-cpu {
    width: 24px;
    height: 24px;
    background-position: -144px 0px;
}

.icon-delete {
    width: 24px;
    height: 24px;
    background-position: -168px 0px;
}

.icon-file-text {
    width: 24px;
    height: 24px;
    background-position: -192px 0px;
}

.icon-file {
    width: 24px;
    height: 24px;
    background-position: -216px 0px;
}

.icon-home {
    width: 24px;
    height: 24px;
    background-position: -240px 0px;
}

.icon-layers {
    width: 24px;
    height: 24px;
    background-position: -264px 0px;
}

.icon-mouse-pointer {
    width: 24px;
    height: 24px;
    background-position: -288px 0px;
}

.icon-package {
    width: 24px;
    height: 24px;
    background-position: -312px 0px;
}

.icon-play {
    width: 24px;
    height: 24px;
    background-position: -336px 0px;
}

.icon-plus {
    width: 24px;
    height: 24px;
    background-position: -360px 0px;
}

.icon-settings {
    width: 24px;
    height: 24px;
    background-position: -384px 0px;
}

.icon-shopping-cart {
    width: 24px;
    height: 24px;
    background-position: -408px 0px;
}

.icon-users {
    width: 24px;
    height: 24px;
    background-position: -432px 0px;
}